* { box-sizing: border-box; }

html, body { margin: 0; padding: 0; }
body { overflow-y: scroll; }

p { margin-bottom: 0 }
ul { margin-top: 0 }

.cover {
  width: 100%;
  height: calc(100vh + 500px);
}

.bookWrapper {
  padding: 50vh 10vh 0;
  height: 100vh;
  border-top: 1px solid lightgray;
}
